* {
	margin: 0;
	padding:0;
} 
body{
	position: relative;	 
}
/* 导航栏背景*/
.navigation {
	width: 100%;
	display:flex;
}
.character{
	width: 100%;
	height: 100px;
	background: #8e8e8e;
	display:flex;
	justify-content:space-between;
	flex-wrap:nowrap; 	
}
.navmiddle{
	width: 1200px;
	height: 100px;
	margin:auto;
	padding-left: 37.5px;
	padding-right: 37.5px;
}
/* 第一行内容 */
.lined{
	width:800px; 	 
	height: 25px;
	float:left;
	line-height:30px;
	font-size:16px;
	color:#fff;
	list-style:none;
	margin-top:16px;
}
.lined>li{
	margin-right:16px;
	display: table-cell;
	display: inline;	 
}
.lined>li>a{
	text-decoration:none;
	color:#fff;
	line-height:30px;	
}
.lined>li>a:hover{
    color:#0a18d8;
}
/* 第二行文字 */
.two{
	width:512px; 
	height:25px; 
	float:left; 
	font-size:18px;
	color:#fff;
	list-style:none;
	margin-top:16px;		
}
.two>li{
	float:left;
	font-size:20px;
	margin:0;
	margin-right:20px;
}

ul li.home a{
	color:#0a18d8;
	font-size:20px;
}
.two>li>a{
	text-decoration:none;
	color:#fff;
	line-height:30px;	
}
.two>li>a:hover{
	color:#0a18d8;
}
/* 快速链接/搜索 */
#search{
	width:230px;
	height:20px;
	float:left;
	margin:0;	
	list-style:none;	
	}
	/*文字调式*/
.link>a{text-decoration: none;}
.link>a>span{
	font-size:18px;
	color:#fff; 		
}
.link>a>span:hover{
    color:#0a18d8;
}
.link>a:hover{
    color:#0a18d8;
}
/* 导航栏下拉菜单 */
.dropdown{
	margin-right:1px;
	margin-top:1px;		
}
.dropdown-content a:hover {
	background-color:rgb(236, 205, 30);
}
.dropdown-content {
	display: none;
	position: absolute;
	min-width:200px;
}
.dropdown-content>div{
	display: flex;
	justify-content: space-between;
}
.dropdown-content a{
	font-size:20px !important;
	color:#fff;
	padding: 12px 16px;
	display: block;
	z-index: 100;
} 
.dropdown,.serve{
	font-size:20px !important;
	color:#fff;
}

li>div>a:hover{
	color:#0a18d8;
}
.dropdown-content a:hover {
	background-color:rgb(236, 205, 30);
}

.dropdown:hover .dropdown-content {
	display: block;
} 
/* 链接图标*/
.link{
	float:left;
	margin-top:18px;
	margin-right:16px;
}
.link>span{ font-size:18px;}
.fonta{
	background: #ccc;
	width: 30px !important;
	height: 30px !important;
	border-radius:28px; 
}
.fontb{
	display: flex;
	align-items: center;
	margin-right:5px;
}
.fonta img{
	width: 100%;
}
.fontc{
	width: 70px !important;
}
.link img{
   color:#ffff;
   z-index:50; 
   vertical-align: middle;/*文字与图片同一行*/
}

/* 搜索框 */
.htmleaf-container{
	position:fixed;
	right:950px;
	z-index:3;
	position: absolute;
	top:71px;
    right:685px;
}
.search-wrapper {
	position: absolute;
	/* transform: translate(50%,50%); */
	top:-27px;
	left:-13px;
}
/* 搜索按钮 */
.search-wrapper .input-holder {
	/* overflow: hidden; */
	/* width:50px;
  height: 50px;  */
	background: rgba(255,255,255,0);
	border-radius:6px;
	position: absolute;
	bottom:-50px;
	right:-45px;
	transition: all 0.3s ease-in-out;

}
.search-wrapper.active .input-holder {
	/* border-radius: 50px; */
	width:280px;
	height:40px; 
	background: rgb(236, 205, 30);
	transition: all .8s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}
.search-wrapper .input-holder .search-input {
	width:100%;
	height: 25px;
	padding:0px 20px 0 35px;
	opacity: 0;
	position: absolute;
	top:-3px;
	left:0px;
	background: transparent;
	box-sizing: border-box;
	border:none;
	outline:none;
	font-family:"Open Sans", Arial, Verdana;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	transform: translate(0, 60px);
	transition: all 0.3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
	opacity: 1;
	transform: translate(0, 10px);
}

.search-wrapper .input-holder .search-icon {
	width:30px;
	height:30px; 
	border:none;
	border-radius:18px;
	background: rgb(122, 122, 122);
	padding:0px;
	outline:none;
	position: relative;
	left:-231px;
	top:-5px;
	z-index: 2;
	float:right;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
	/* width: 50px;
	height:50px; */
	margin: 10px;
	left:4px;
	border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
	width:22px;
	height:23px;
	display: inline-block;
	vertical-align: middle;
	position:relative;
	transform: rotate(45deg);
	transition: all 0.3s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
	transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
	position: absolute;
	content:'';
}
.search-wrapper .input-holder .search-icon span::before {
	width: 4px;
	height: 10px;
	left: 9px;
	top: 20px;
	border-radius: 2px;
	background: #fff;
}
.search-wrapper .input-holder .search-icon span::after {
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	border-radius: 16px;
	border: 3px solid #fff;
}
.search-wrapper .input-holder .search-icon:hover{
	 background-color:rgb(75, 224, 216);
}
.search-wrapper .input-holder .search-icon::before::after:hover{
	background-color:rgb(75, 224, 216);
}
/* 关闭按钮 */
.search-wrapper .close {
	position: absolute;
	z-index: 1;
	border-radius:6px;     
	bottom:27px;
    right:165px;
	width:25px;
	height:25px;
	cursor: pointer;
	transform: rotate(-180deg);
	transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
	transition-delay: 0.2s;
	display:none;
}
.search-wrapper.active .close {
	right:-75px;
	bottom:10px;
	transform: rotate(45deg);
	transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
	transition-delay: 0.2s;
	display:block;
}
.search-wrapper .close::before, .search-wrapper .close::after {
	position:absolute;
	content:'';
	background: #FFF;
	border-radius: 2px;
}
.search-wrapper .close::before {
	width: 5px;
	height: 25px;
	left: 10px;
	top: 0px;
}
.search-wrapper .close::after {
	width: 25px;
	height: 5px;
	left: 0px;
	top: 10px;
}
.search-wrapper.active .close:hover{
    background-color:rgb(230, 20, 13);
}
 @media screen and (max-width: 560px) {
	.search-wrapper.active .input-holder {width:200px;}
} 
 
/*----------导航栏中BMW标志图片-----------*/
.img {
	position: absolute;
	top: 10px;
	right: 18%;
	z-index:100;	
}
/* 图片设置大小 */
.img>img {
	width: 100px;
}
 body{
	width:100%;
	position:relative;
}  
/*-------页面中的第一个轮播图-------*/
#main{
	width:1920px;
	margin:0 auto;
}
#banner{
	width:1920px;
	overflow:hidden;
	position:relative;
}
#crousel-wrap {
   width:1920px;
   overflow:hidden;
}
#ul-imgs{
	list-style:none;
}
#ul-imgs.transition{
    transition:all .3s linear;
}
#ul-imgs>li{
	width:1920px;
	float:left;
}
#ul-imgs img{
	width:1920px;
}
/* 轮播图背景图片 */
.First,.Second,.three,.four,.five{
	height:865px; 
	background-size: cover;
	background-repeat: round;
	position: relative;
	margin: auto;
}
.First{
	background-image:url(../image-bmw/HEV.jpg);
}
.Second{
	background-image:url(../image-bmw/7-KV.jpg);
}
.three{
	background-image:url(../image-bmw/X7-2019款.jpg);
}
.four{
	background-image:url(../image-bmw/M8.jpg);
}
 .five{
	background-image:url(../image-bmw/HEV.jpg);
} 
/* 轮播图里点击按钮 */
#ul-idxs{
	list-style:none;
	position:absolute;
	top:969px;
	left:8px;
	display: flex;
	justify-content: space-between;
	align-content:space-between;
}
#ul-idxs li{
	width:400px;   
	height:5px;
	margin-right:101px;
	background-color:#fff;
	cursor:pointer;
	z-index:99;
}
#ul-idxs>li.active{
	background-color:blue;
}
#btn-left,#btn-right{
	width:60px;
	height:50%;
	position:absolute;
	top:25%;
	right:10px;	 
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	z-index: 100;
}
#btn-left{
	position:absolute;
	top:25%;
	right:10px;}
/* 轮播图里左边箭头按钮 */
#btn-left{
	left:20px;
	background-image:url(../image-bmw/left_ar.png);
}
/* 轮播图里右边箭头按钮 */
#btn-right{
	right:20px;
	background-image:url(../image-bmw/right_ar.png);
}
/* 轮播图里左右箭头按钮 hover*/
#btn-left:hover,#btn-right:hover{
	background-size:40px 70px
}
/*---轮播图里的文字---*/
.characters h1{
	width:500px;
	height:50px;
}
.characters h1 h3{
	width:30px;
	height:253px;
}
.characters h3 h1{
	width:30px;
	height:253px;
}
.characters h1 h3 ul li{
	width:30px;
	height:285px;
}
.characters{
	width:350px;
	height: 270px;
	font-size:18px;
	color: #fff;
	float:left;
	margin-top:120px;
	margin-left:160px;
	line-height:50px;
}
		/* 调整轮播图里的文字 */
.characters h1,.characters h3,.characters li{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;/**/
}
.characters ul li{
	background:#4488e9;/*文字背景颜色*/
	text-align:center;/*文字居中*/
	border-radius:8px;/*设置圆角*/
}
	/*文字鼠标悬停效果*/
.characters h1:hover{
	font-size:40px;
	color:rgb(0, 4, 255);
}
.characters h3:hover{
	font-size:25px;
	color:rgb(0, 4, 255);
}
.characters li:hover{
	font-size:20px;
	color: #ffffff;
	background-color: #0765e9;
}
/*----- 微信登录链接 -----*/
.WeChat{
	position:absolute;
	top:8%;
	right:22px;
	display:flex;
	justify-content: space-around;
}
.WeChat img{
	width:100%;
	border-radius:3px;
}
/* 微信登录链接里面的内容 */
.chatcallout{
	width:0px;
	display:flex;
    position: absolute;
	top:285px;
	right:0px;
}
/* 关闭按钮 */
.close{
    width:30px;
	height:30px;
	background:#0765e9;
	position:relative;
	top:19px;
	right:-460px;
	z-index:200;
    font-size: 16px;
    box-sizing: border-box;
    padding: 5px
}
.chatcallout,.left,.right{
	padding:0 20px;
}
.chatcallout h4{
	font-size:23px;
	margin:auto;
	text-align: center;/*文字居中*/
}
.chatcallout h4{
	color:#fff;
}
.chatcallout div{
	color:#fff;	 
}
.intro1{
	margin-bottom:22px;
}
.chatcallout span{
	width:160px; 
	height:50px;
	font-size:16px;
	text-align:center;/*文字居中*/
	color:#fff;
	display: table-cell;
	vertical-align: middle;
	background-color:#00f;	 
}

.one{ background:rgb(21, 21, 224);}
/*-----BMW 产品型号分类-----*/
.box {
	width: 1195px;
	height: 340px;
	padding:10px;
	margin: auto;
}
.box ul {
	display: flex;
	flex-wrap: wrap;
	justify-content:flex-start;
	align-content:flex-end;
	padding: 0px;
	margin: 0 auto;
}
.box ul li {
	width: 194px;
	height: 93px;
	margin-right: 5px; 
	margin-bottom: 5px; 
	min-height: 110px;
	background: #ccc;
	position: relative;/*相对定位*/
}
/*鼠标悬停效果*/
.box ul li:hover {
	background-image: url(../image-bmw/16.png);	
	z-index: 5;
} 
.box ul li {
	background-size:247px;;
	background-repeat: no-repeat;
}
.car-type-list li {
	display: flex;
	margin: 0px; 
} 
/*字体往左下角移动定位*/
.car-type-list a{
    position:absolute;/*绝对定位*/
	flex:0px;
	bottom:6px;/*往下移动*/
	font-size:16px;	color:#fff;
}
/*页面中第二个轮播图*/
.banner {
	width: 1200px;
	height: 335px;
	display:flex;
	justify-content: space-between;
	margin:0 auto;
	padding:0 14px;
	position:relative;
}
.banner div:first-child img {
	width: 582px;
	height: 327px;
	padding: 8px;
}
.right-wz> {
	width: 495px;
	height: 327px;
	float: right;
	font-size: 12px;
	margin: 0 auto;
}
.right-wz p {
	width: 100%;
	height: 24px;
}
.right-wz a {
	width: 566px;
	height: 20px;
}
/*页面中第二个轮播图里左右箭头按钮*/
.left>a>img,.right>a>img{
	width:2%;
	height:35px;
	display:flex;	
}
.right>a>img:hover{
	background:rgba(136, 136, 136, 0.726);
}
.left>a>img:hover{
	background:rgba(136, 136, 136, 0.726);	 
}
.left>a>img{ 
	justify-content: space-between;
	position:absolute;
	top:40%;
    left:-1%; 
}
.right>a>img{
	justify-content: space-between;
	position:absolute;
    top:40%;
	right:-1%; 
}
/*-----车型系列预览选择------*/
.top-type {
	width: 64%;
	height: 37px;
	margin: 0 auto;
	margin-top: 0;
}
.top-type-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}
/*车型系列预览选择*/
.top-type-list li{
	width: 14%;
	white-space: nowrap;
	overflow: hidden;
 /* text-overflow: ellipsis; */
	border-bottom: 5px solid #ccc;
	font-size: 16px;
	display: block;
	height: inherit;	 
	margin-left: 8px;	 
} 
/* 鼠标悬停字体变色效果 */
.top-type-list li a:hover{
	color:#0a18d8;
}
.top-type-list li a{
	color:#8e8e8e;
}
#ds {
	border-bottom: 5px solid #1c69d4;
} 
/*--------BMW 客户咨询服务--------*/
.ds2 {
	/*外边大div*/
	width: 1329px;
	height: 919px;
	margin: 0 auto;
	padding-top: 30px;
	display: flex;/*弹性*/
	flex-wrap: wrap;/*排列折行*/
}
/*中间第一个div*/
/*BMW 试驾精英左上角*/
.ds2-tyble-1 {
	width: 100%;
	height: 440px;
	display: flex;
}

/*清除四个div左右外边距*/
.tyble-1 {
	padding: 8px;
	margin-left: 67px;
	margin-right: -70px;
}

/*BMW 试驾精英图片*/
.tyble-1 span img {
	width: 553px;
	height: 311px;
	position: relative;
	padding: 15px;		
	border: 1px solid #ccc;
}	 
/* 图片鼠标经过放大效果 */
.tyble-1 span img{ 
	overflow: hidden; 
	cursor: pointer;  
	transition: all 0.6s;  
}  
.tyble-1 span img:hover{  
    transform: scale(1.02);  
}  
 /* 文字hover效果 */
.tyble-1 p:hover{  
    color:#0a18d8; 
}  
.ds2-tyble-1 {
	width: 521px;
	height: 1117px;
	margin: 5px;
	padding: 8px;
}
	/*BMW 试驾精英文字*/
.ds2-tyble-1 a h1 {
	width: 597.25px;
	height: 25px;
	padding: 10px;
	margin: 0;
}
	/*全方位提升驾驶技巧*/
.ds2-tyble-1-a-h1 p {
	width: 597.5px;
	height: 15.71px;
	padding: 5px;
	margin: 0;
}
	/*了解详情*/
.ds2-tyble-1-a-h1-p a {
	width: 582.5px;
	height: 20px;
	padding: 5px;
	margin: 0;
}

	/*页面官网信息服务*/
.ds2-g{
	width: 1200px;
	padding:0 8px;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	/*弹性*/
}
	/*页面官网信息服务左上角第一个div*/
.ds2-g-information-figure {
	width: 285px;
	height: 361px;
	margin: 7.5px;
	padding: 7.5px;		
}
	/* div->图片*/
.information{
	width: 271px;
	height: 285px;
	padding: 8px;
	margin:0;
    
}
/* 鼠标经过图片放大效果 */
.figure img{ 
	overflow: hidden; 
	cursor: pointer;  
	transition: all 0.6s;  
}  
.figure img:hover{  
	transform: scale(1.08);  
}  
	/*页面底部三张图片定位*/
.figure img{
	width: 253px;
	height: 142px;
	margin:0;
	padding:8px;
	border:1px solid #ccc;
}
	/*页面官网信息服务文字*/
.ds2-g-information-figure h3 {
	width: 275px;
	height: 24px;
	padding-right: 5px;
	margin-bottom: 3px;
}
.ds2-g-information-figure p {
	width: 260px;
	height: 20px;
	padding-left: 8px;
}
.ds2-information-figure a {
	width: 177px;
	height: 20px;
}
/* 文字hover效果 */
.figure p:hover{
	color:#0a18d8;
}
/*-----页面底部第六个div------*/
.bottom {
	width: 100%;
	padding: 8px;
	background: #8e8e8e;
}		
	/*  页脚第一个div */
.bottom-footer{
	width:1200px;
	height: 268px;
	margin:0 auto;
	padding-left: 37.5px;
	padding-right: 37.5px;	
	}
.table{
	position: relative;
	padding: 5px;		 
}
	/* 页脚div里文字 */
.widget{
	width: 533px;
	display: table-row;		
}
	/* 字体颜色 */
.widget span{
	font-size:18px;
	color: #fff;
}
.list{ 
	width:533px;
	display: table-cell;
	padding-bottom: 16px;
	padding-left: 10px;	
	list-style:none; 
}
.list li{
	display: table-cell;
	display: inline;
	margin-left:13px;	 
}
   /* 字体颜色 */
.list a{
	text-decoration:none;
	font-size:17px;
	color: #fff;
}
   /* 字体鼠标悬停效果 */
.list a:hover{
	color:#00f;
}
   /*页脚文字中横线*/
.bottom-footer hr{
	width:1200px;
	height:2px;
	float:left;
	background-color:#ccc;
 }
   /*页脚右下角文字*/
 .bottom-footer p{
	position:absolute;/*绝对定位*/
	right:-2px;
	bottom:-30px;
	color:#fff;
}
