* {
	margin: 0;
	padding:0;
} 
/* 导航栏背景*/
.navigation {
	width: 100%;	
}
.character{
	width: 100%;
	height: 100px;
	background: #8e8e8e;
	display:flex;
	justify-content:space-between;
	flex-wrap:nowrap; 
	
}
.navmiddle{
	width: 1200px;
	height: 100px;
	margin:auto;
	padding-left: 37.5px;
	padding-right: 37.5px;
}
/* 第一行内容 */
.lined{
	width:800px; 	 
	height: 25px;
	float:left;
	line-height:30px;
	font-size:16px;
	color:#fff;
	list-style:none;
	margin-top:16px;
}
.lined>li{
	margin-right:16px;
	display: table-cell;
	display: inline;	 
}
.lined>li>a{
	text-decoration:none;
	color:#fff;
	line-height:30px;	
}
.lined>li>a:hover{
    color:#0a18d8;
}
/* 第二行文字 */
.two{
	width:475px; 
	height:25px; 
	float:left; 
	font-size:18px;
	color:#fff;
	list-style:none;
	margin-top:16px;	 
}
.two>li{
	float:left;
	font-size:20px;
	margin:0;
	margin-right:20px;
}

ul li.home a{
	color:#0a18d8;
	font-size:20px;
}
.two>li>a{
	text-decoration:none;
	color:#fff;
	line-height:30px;	
}
.two>li>a:hover{
	color:#0a18d8;
}
/* 快速链接/搜索 */
#search{
	width:230px;
	height:25px;
	float:left;
	margin:0;	
	list-style:none;	
	}
	/*文字调式*/
.link>a{text-decoration: none;}
.link>a>span{
	font-size:18px;
	color:#fff; 		
}
.link>a>span:hover{
    color:#0a18d8;
}
.link>a:hover{
    color:#0a18d8;
}
/* 导航栏下拉菜单 */
.dropdown{
	margin-right:1px;
	margin-top:1px;		
}
.dropdown-content a:hover {
	background-color:rgb(236, 205, 30);
}
.dropdown-content {
	display: none;
	position: absolute;
	min-width:200px;
}
.dropdown-content>div{
	display: flex;
	justify-content: space-between;
}
.dropdown-content a{
	font-size:20px !important;
	color:#fff;
	padding: 12px 16px;
	display: block;
	z-index: 100;
} 
.dropdown,.serve{
	font-size:20px !important;
	color:#fff;
}

li>div>a:hover{
	color:#0a18d8;
}
.dropdown-content a:hover {
	background-color:rgb(236, 205, 30);
}

.dropdown:hover .dropdown-content {
	display: block;
} 
/* 链接图标 搜索图标*/
.link{
	float:left;
	margin-top:18px;
	margin-right:16px;
}
.link>span{ font-size:18px;}
.fonta{
	background: #ccc;
	width: 25px !important;
	height: 25px !important	;
	border-radius:28px; 
}
.fontb{
	display: flex;
	align-items: center;
	margin-right:5px;
}
.fonta img{
	width: 100%;
}
.fontc{
	width: 70px !important;
}
.link img{
   color:#ffff;
   z-index:50; 
   /*vertical-align: middle;文字与图片同一行*/
}
/* 搜素框 
input[type=text] {
	width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('./image-bmw/ai219.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition:width 0.4s ease-in-out;
	transition:width 0.4s ease-in-out;
}
input[type=text]:focus {
	width: 30%;
}*/
/*----------导航栏中BMW标志图片-----------*/
.img {
	position: absolute;
	top: 10px;
	right: 18%;
	z-index:100;	
}
/* 图片设置大小 */
.img>img {
	width: 100px;
}
 body{
	width:100%;
	position:relative;
}  
 body{
	width:100%;
	position:relative;
} 
/*--- 查找你的BMW ---*/ 
.Model{
	width:100%;
}
.title{
	width:1275px;
	height:110px;
	margin:0 auto;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
	 
}
h3{
	width:1275px;
	height: 30px;
	margin-top:45px;
	margin-bottom:45px;
	padding-left:10px;
	padding-right:10px;

}
/* 车系选择 */
.seek{
	width:1275px;
	margin:0 auto;
}
.medium{
	width:1200px;
	height:94px;
	display:flex;/*弹性*/
  flex-flow:row wrap;
	justify-content:space-between; 
}
.medium li{
	width:200px;
	font-size: 18px;
  list-style:none;
	vertical-align:middle;
	margin-bottom:30px;
	
}
input[type="checkbox" i]{
	width:20px;
	height:20px;
	margin-right: 8px;
	display: block;
	float: left;
  line-height: 24px;
	height: 24px;
}
/*------BMW 1系-字体鼠标悬停效果---*/
a{
	font-size:18px;
	text-decoration:none;
}
a:hover{
  color:rgb(0, 68, 255);
}
 /*---------BMW 1系--------*/
.ds1-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;	 
  flex-flow:row wrap;
}
.ds1-model-card--image{
	 padding:0 8px;
	 position:relative;	  
	 justify-content:flex-start;
	 align-items:stretch;
	 line-height:32px;
	 font-size:20px;

}
.ds1-model-card--image img{
	width:300px;
	height:180px;
}
/* 鼠标经过图片放大效果 */
.ds1-model-card--image img,.ds2-model-card--image img,.ds3-model-card--image img,.ds4-model-card--image img,.ds5-model-card--image img,.ds6-model-card--image img,.ds7-model-card--image img,.ds8-model-card--image img,.dsx-model-card--image img,.dsm-model-card--image img,.dsZ-model-card--image img,.dsi-model-card--image img,.dsip-model-card--image img,.dsz-model-card--image img{
	  overflow: hidden; 
		cursor: pointer;  
		transition: all 0.6s;  
}  
.ds1-model-card--image img:hover,.ds2-model-card--image img:hover,.ds3-model-card--image img:hover,.ds4-model-card--image img:hover,.ds5-model-card--image img:hover,.ds6-model-card--image img:hover,.ds7-model-card--image img:hover,.ds8-model-card--image img:hover,.dsx-model-card--image img:hover,.dsm-model-card--image img:hover,.dsZ-model-card--image img:hover,.dsi-model-card--image img:hover,.dsip-model-card--image img:hover,.dsz-model-card--image img:hover{  
	transform: scale(1.1);  
}  
.ds1-models--series-title{
	margin-right: 35px;
}
.ds1-models-js--series-title{
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}
/*--------- BMW 2系 ----------*/
.ds2-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;
	flex-flow:row wrap;	 
}
.ds2-model-card--image{
	 padding:0 8px;
	 position:relative;	 
	 justify-content:flex-start;
	 align-items:stretch;
	 line-height:32px;
	 font-size:20px;
}
.ds2-model-card--image img{
	width:300px;
	height:180px;
}
.ds2-models--series-title{
	margin-right: 35px;
}
.ds2-models-js--series-title{
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}
/*------------ BMW 3系 ------------*/
.ds3-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;
	flex-flow:row wrap;	 
}
.ds3-model-card--image{
	 padding:0 8px;
	 position:relative;
	 justify-content:flex-start;
	 align-items:stretch;
	 line-height:32px;
	 font-size:20px;
}
.ds3-model-card--image img{
	width:300px;
	height:180px;
}
.ds3-models--series-title{
	margin-right: 35px;
}
.ds3-models-js--series-title{
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}
/*------------ BMW 4系 ------------*/
.ds4-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;	
	flex-flow:row wrap; 
}
.ds4-model-card--image{
	 padding:0 8px;
	 position:relative;
	 justify-content:flex-start;
	 align-items:stretch;
	 line-height:32px;
	 font-size:20px;
}
.ds4-model-card--image img{
	width:300px;
	height:180px;
}
.ds4-models--series-title{
	margin-right: 35px;
}
.ds4-models-js--series-title{
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}
/*------------ BMW 5系 ------------*/
.ds5-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;	
	flex-flow:row wrap; 
}
.ds5-model-card--image{
	 padding:0 8px;
	 position:relative;
	 justify-content:flex-start;
	 align-items:stretch;
	 line-height:32px;
	 font-size:20px;
}
.ds5-model-card--image img{
	width:300px;
	height:180px;
	position: relative;
	z-index: 6;
}
.ds5-models--series-title{
	margin-right: 35px;
}
.ds5-models-js--series-title{
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}
/*--------- BMW 6系 ----------*/
.ds6-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;
	flex-flow:row wrap;	 
}
.ds6-model-card--image{
	 padding:0 8px;
	 position:relative;
	 justify-content:flex-start;
	 align-items:stretch;
	 line-height:32px;
	 font-size:20px;
}
.ds6-model-card--image img{
	width:300px;
	height:180px;
	position: relative;
	z-index: 6;
}
.ds6-models--series-title{
	margin-right: 35px;
}
.ds6-models-js--series-title{
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}
/*------------ BMW 7系 ------------*/
.ds7-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;
	flex-flow:row wrap;	 
}
.ds7-model-card--image{
	 padding:0 8px;
	 position:relative;	  
	 justify-content:flex-start;
	 align-items:stretch;
	 line-height:32px;
	 font-size:20px;
}
.ds7-model-card--image img{
	width:300px;
	height:180px;
}
.ds7-models--series-title{
	margin-right: 35px;
}
.ds7-models-js--series-title{
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}
/*------------ BMW 8系 ------------*/
.ds8-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;
	flex-flow:row wrap;	 
}
.ds8-model-card--image{
	 padding:0 8px;
	 position:relative;	 
	 justify-content:flex-start;
	 align-items:stretch;
	 line-height:32px;
	 font-size:20px;
}
.ds8-model-card--image img{
	width:300px;
	height:180px;
	position: relative;
	z-index: 6;
}
.ds8-models--series-title{
	margin-right: 35px;
}
.ds8-models-js--series-title{
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}
/*------------ BMW X系 ------------*/
.dsx-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;	
	flex-flow:row wrap;
}
.dsx-model-card--image{
	 padding:0 8px;
	 position:relative;
	 justify-content:flex-start;
	 align-items:stretch; 
	 line-height:32px;
	 font-size:20px;
}
.dsx-model-card--image img{
	width:300px;
	height:180px;
	position: relative;
	z-index: 6;
}
.dsx-models--series-title{
	margin-right: 35px;
}
.dsx-models-js--series-title{
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}
/*------------ BMW M系 ------------*/
.dsm-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;	
	flex-flow:row wrap;
}
.dsm-model-card--image{
	 padding:0 8px;
	 position:relative;
	 justify-content:flex-start;
	 align-items:stretch; 
	 line-height:32px;
	 font-size:20px;
}
.dsm-model-card--image img{
	width:300px;
	height:180px;
	position: relative;
	z-index: 6;
}
.dsm-models--series-title{
	margin-right: 35px;
}
.dsm-models-js--series-title{
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}
/*------------ BMW Z系 ------------*/
.dsz-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;	
	flex-flow:row wrap;
}
.dsz-model-card--image{
	 padding:0 8px;
	 position:relative;
	 justify-content:flex-start;
	 align-items:stretch; 
	 line-height:32px;
	 font-size:20px;
}
.dsz-model-card--image img{
	width:300px;
	height:180px;
	position: relative;
	z-index: 6;
}
.dsz-models--series-title{
	margin-right: 35px;
}
.dsz-models-js--series-title{
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}
/*------------ BMW i系 ------------*/
.dsi-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;	
	flex-flow:row wrap;
}
.dsi-model-card--image{
	 padding:0 8px;
	 position:relative;
	 justify-content:flex-start;
	 align-items:stretch; 
	 line-height:32px;
	 font-size:20px;
}
.dsi-model-card--image img{
	width:300px;
	height:180px;
	position: relative;
	z-index: 6;
}
.dsi-models--series-title{
	margin-right: 35px;
}
.dsi-models-js--series-title{
	width: 400px;
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}
/*------------ BMW iPerformance系 ------------*/
.dsip-model-card{
	width:1275px;
	margin:0 auto;
	padding:0 40px;
	display:flex;	
	flex-flow:row wrap;
}
.dsip-model-card--image{
	 padding:0 8px;
	 position:relative;
	 justify-content:flex-start;
	 align-items:stretch; 
	 line-height:32px;
	 font-size:20px;
}
.dsip-model-card--image img{
	width:300px;
	height:180px;
	position: relative;
	z-index: 6;
}
.dsip-models--series-title{
	margin-right: 35px;
}
.dsip-models-js--series-title{
	font-size: 124px;
	font-weight:normal;
	color: #e6e6e6;
	position: absolute;
	top: 70px;
	left: -22px;
}


	/*-------------页面底部第六个div------------*/
	.bottom {
		width: 100%;
		padding: 8px;
		background: #8e8e8e;
	}		
	/*  页脚第一个div */
	.bottom-footer{
		width:1200px;
		height: 268px;
		margin:0 auto;
		padding-left: 37.5px;
		padding-right: 37.5px;
	
	}
	.table{
		position: relative;
		padding: 5px;
			 
	}
	/* 页脚div里文字 */
	.widget{
		width: 533px;
		display: table-row;		
	}
	/* 字体颜色 */
	 .widget span{
		font-size:18px;
		color: #fff;
	 }
	.list{
	  width:533px;
		display: table-cell;
		padding-bottom: 16px;
	  padding-left: 10px;	 
 }
  .list li{
	  display: table-cell;
	  display: inline;
	  margin-left:13px;	 
 }
   /* 字体颜色 */
    .list a{
	   font-size:17px;
	   color: #fff;
}
   /* 字体鼠标悬停效果 */
    .list a:hover{
		color:#00f;
	}
   /*页脚文字中横线*/
 .bottom-footer hr{
	  width:1200px;
	  height:2px;
	  float:left;
	  background-color:#ccc;
 }
   /*页脚右下角文字*/
 .bottom-footer p{
	  position:absolute;/*绝对定位*/
	  right:-2px;
	  bottom:-30px;
	  color:#fff;
}
	