body{
    margin: 0;
    padding: 0;
}
/*登录页面左边图片*/
.picture{
    width: 63%;
    height: 921px;
    border: 2px solid #ccc;
    background-image: url(../image-bmw/65567.jpg);
    background-size:cover;
	background-position:-190px 30px;
    float:left;
    position:relative;
}
/*登录页面左边图片上文字*/
.characters p{
    font-size:60px;
    color:rgb(0, 238, 255);  
    padding-right:10px;
    position:relative;
    top:65px;
    right:-396px;
}
.characters p{
    overflow: hidden; 
    cursor: pointer;  
    transition: all 1s;  
}  
.characters p:hover{  
    transform: scale(1.08);
    color:#b2d41c;
}  
/* 登录页面左边图片上的文字 */
p:hover{
    color:#053dd6;
    font-size:80px;
}
/*右边用户登录页面*/
.User{
    width: 36%;
    height: 921px;
    border: 2px solid #ccc;
    float:right;
    position: relative;
}
.User .Login{
    width:68%;
    height:600px;
    list-style:none;
    padding-top:145px;
    padding-right:10px; 
    padding-left: 80px   
}
.User .message{
    width:473px;
    height:36px;
    border: 0 none;
    margin: 0 -10px 9px;
}
.message ul{
    width:750px;
    height:35px;
    padding:0;
    display: table;
    content: " ";
    clear: both;
}
.message ul li{
    width:29%;
    float:left;
    list-style: none;
    padding:0 10px;
    margin-bottom: -1px;
}
.message li a{
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 12px 0;
    position: relative;
    display: block;
    color: #1c69d4;
    border-bottom: 4px solid #1c69d4
}
     /* 短信登录 */
.login-form{
    width:403px;
    height:55px;
    padding:0;
    margin-bottom: 15px;
    position: relative;
} 
input[type="text"]{
    width:96%;
    height:55px;
    line-height: 55px;
    border:0 none;
    padding-left: 5px;
    font-size:22px;
    margin-top:20px;
    border-bottom:3px solid #ccc;
    position: relative;
}
/* 发送验证码按钮 */
.verification{
    width:110px;
    height: 36px;
    position: absolute;
    right:156px;
    top: 324px;
    line-height: 32px;/*调整文字*/
    font-size:15px;
    border-radius:5px;
    background-color:#b1b1b1;
}

/* 点击链接图标 */
.icon-info {
    width: 18px;
    height:18px;
    margin-left: 10px;
     position:absolute;
     left:176px;
     top:383px;
}
 
   /* 密码登录 */
.login-form{
    width:403px;
    height:55px;
    margin-bottom: 15px;
} 
input[type="password"]{
    width:96%;
    height:55px;
    line-height: 55px;
    border:0 none;
    padding-left: 5px;
    font-size:22px;
    margin-top:20px;
    border-bottom:3px solid #ccc;
} 
 /* 选择我 */
.remembers{
    width:453px;
    height:42px;
    margin-top:10px;
} 
/* 选择框 */
.checkbox{
    width:20px;
    height:20px;
    color:#1c69d4;
} 
 /* 记住我 */
 .Remember{
    width:61px;
    height:15px;
    font-size:22px;
} 
/* 登录按钮 */
.login{
    width:453px;
    height:50px;
    margin-top:20px;
    font-size:20px;
    border-radius:5px;
    background:#1c69d4;
}
/*  */
.login{  
    overflow:hidden; 
    cursor: pointer;  
    transition: all 1s;  
}  
.login:hover{  
    transform: scale(1.03); 
    color:#b2d41c;
}      

/* 注册按钮 */
.registered{
    width:453px;
    height:50px;
    margin-top:20px;
    font-size:20px;
    background:#8e8e8e;
}
.registered{
    overflow:hidden; 
    cursor: pointer;  
    transition: all 1s;  
}  
.registered:hover{  
    transform: scale(1.03); 
    color:#f50606;
}      
/*登录界面右上角BMW标志图片*/
.logo {
	position: absolute;
    top: 10px;
    right: 150px;
    height: 115px;
    width: 103px;
    z-index: -99;
}

.logo>img {
    display: block;
    max-width: 100%;
}
 

 