* {
	margin: 0;
	padding:0;
} 
/* 导航栏背景*/
.navigation {
	width: 100%;	
}
.character{
	width: 100%;
	height: 100px;
	background: #8e8e8e;
	display:flex;
	justify-content:space-between;
	flex-wrap:nowrap; 
	
}
.navmiddle{
	width: 1200px;
	height: 100px;
	margin:auto;
	padding-left: 37.5px;
	padding-right: 37.5px;
}
/* 第一行内容 */
.lined{
	width:800px; 	 
	height: 25px;
	float:left;
	line-height:30px;
	font-size:16px;
	color:#fff;
	list-style:none;
	margin-top:16px;
}
.lined>li{
	margin-right:16px;
	display: table-cell;
	display: inline;	 
}
.lined>li>a{
	text-decoration:none;
	color:#fff;
	line-height:30px;	
}
.lined>li>a:hover{
    color:#0a18d8;
}
/* 第二行文字 */
.two{
	width:512px; 
	height:25px; 
	float:left; 
	font-size:18px;
	color:#fff;
	list-style:none;
	margin-top:16px;	 
}
.two>li{
	float:left;
	font-size:20px;
	margin:0;
	margin-right:20px;
}

ul li.home a{
	color:#0a18d8;
	font-size:20px;
}
.two>li>a{
	text-decoration:none;
	color:#fff;
	line-height:30px;	
}
.two>li>a:hover{
	color:#0a18d8;
}
/* 快速链接/搜索 */
#search{
	width:230px;
	height:20px;
	float:left;
	margin:0;	
	list-style:none;	
	}
	/*文字调式*/
.link>a{text-decoration: none;}
.link>a>span{
	font-size:18px;
	color:#fff; 		
}
.link>a>span:hover{
    color:#0a18d8;
}
.link>a:hover{
    color:#0a18d8;
}
/* 导航栏下拉菜单 */
.dropdown{
	margin-right:1px;
	margin-top:1px;		
}
.dropdown-content a:hover {
	background-color:rgb(236, 205, 30);
}
.dropdown-content {
	display: none;
	position: absolute;
	min-width:200px;
}
.dropdown-content>div{
	display: flex;
	justify-content: space-between;
}
.dropdown-content a{
	font-size:20px !important;
	color:#fff;
	padding: 12px 16px;
	display: block;
	z-index: 100;
} 
.dropdown,.serve{
	font-size:20px !important;
	color:#fff;
}

li>div>a:hover{
	color:#0a18d8;
}
.dropdown-content a:hover {
	background-color:rgb(236, 205, 30);
}

.dropdown:hover .dropdown-content {
	display: block;
} 
/* 链接图标 搜索图标*/
.link{
	float:left;
	margin-top:18px;
	margin-right:16px;
}
.link>span{ font-size:18px;}
.fonta{
	background: #ccc;
	width: 25px !important;
	height: 25px !important	;
	border-radius:28px; 
}
.fontb{
	display: flex;
	align-items: center;
	margin-right:5px;
}
.fonta img{
	width: 100%;
}
.fontc{
	width: 70px !important;
}
.link img{
   color:#ffff;
   z-index:50; 
   vertical-align:middle;/*文字与图片同一行*/
}
/* 搜素框 
input[type=text] {
	width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('./image-bmw/ai219.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition:width 0.4s ease-in-out;
	transition:width 0.4s ease-in-out;
}
input[type=text]:focus {
	width: 30%;
}*/
/*----------导航栏中BMW标志图片-----------*/
.img {
	position: absolute;
	top: 10px;
	right: 18%;
	z-index:100;	
}
/* 图片设置大小 */
.img>img {
	width: 100px;
}
 body{
	width:100%;
	position:relative;
}  
body{
	width:100%;
	position:relative;
}
/*登录页面中的背景图片*/
.d1_son {
	position: relative;/*相对定位*/
	width:100%;
	height: 980px;
	display: flex;
	margin:0 auto;
	background-image:url(../image-bmw/mobile@2x.jpg);
	background-repeat: repeat;/*背景图片不平
	铺*/
	background-position-y:54%;
	background-size:100% 201% ;
}
.d1_son img{
	width:100%;
	height: 100%;	
}
/*----图片里的文字---*/
.img-advertisement h3{
	width:39px;
	height:942px;
	}
.advertisement{
		color:#fff; 
		float:left;/*文字浮动*/
		margin-top:30px;
		position:absolute;/*绝对定位*/
		left:311px;
		top:60px;
		}
		.spacing{line-height:50px;}/*设置h1文字行高 */
		div h4{line-height:40px;font-size:22px;}/*设置h4文字行高*/
		/* 登录按钮 */
	.Login ul{
		width: 330px;
		height:50px;
		font-size:18px;
		margin-top:46px;
		margin-bottom:10px;  
		background:#1c69d4;/*文字背景颜色*/
		text-align:center;/*文字居中*/
		line-height: 48px;/*行高*/
		border-radius:8px;/*设置圆角*/
	}
    /*注册按钮 */
		.register ul{
			width: 330px;
			height:50px;	
			font-size:18px;
			margin-top:46px;
			margin-bottom:10px;
			margin-left:20px;
			background:#8e8e8e;/*文字背景颜色*/
			text-align:center;/*文字居中}*/
			line-height: 48px;/*行高*/
			border-radius:6px;/*设置圆角*/
		}
		/* 去掉登录/注册a标签下划线 */
		div>ul>a{
      text-decoration: none
		}
		/*按钮盒子弹性*/
		.button{display:flex;}
/*-----------页面底部第六个div-----------*/
.bottom {
	width: 100%;
	padding: 8px;
	background: #8e8e8e;
}		
/*  页脚第一个div */
.bottom-footer{
	width:1200px;
	height: 268px;
	margin:0 auto;
	padding-left: 37.5px;
	padding-right: 37.5px;

}
.table{
	position: relative;
	padding: 5px;
		 
}
/* 页脚div里文字 */
.widget{
	width: 533px;
	display: table-row;		
}
/* 字体颜色 */
 .widget span{
	font-size:18px;
	color: #fff;
 }
.list{
	width:533px;
	display: table-cell;
	padding-bottom: 16px;
	padding-left: 10px;	 
}
	.list li{
	 display: table-cell;
	 display: inline;
	 margin-left:13px;	 
}
 /* 字体颜色 */
	.list a{
	 font-size:17px;
	 color: #fff;
}
 /* 字体鼠标悬停效果 */
	.list a:hover{
	color:#00f;
}
 /*页脚文字中横线*/
.bottom-footer hr{
	width:1200px;
	height:2px;
	float:left;
	background-color:#ccc;
}
 /*页脚右下角文字*/
.bottom-footer p{
	position:absolute;/*绝对定位*/
	right:-2px;
	bottom:-30px;
	color:#fff;
}
		
			 